@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.41px;
  letter-spacing: 0%;
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    background-color: #D9D9D9;
    height: 4px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #EC1D24;
  }
}
